In [1]:
import pandas as pd 
import numpy as np 
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [2]:
from sklearn.datasets import load_boston
boston = load_boston()

In [ ]:
boston

In [3]:
df_x=pd.DataFrame(boston.data,columns=boston.feature_names)

In [4]:
df_y=pd.DataFrame(boston.target)

In [5]:
df_x.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [8]:
reg = linear_model.LinearRegression()

In [29]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.2, random_state=0)

In [34]:
x_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
220,0.35809,0.0,6.20,1.0,0.507,6.951,88.5,2.8617,8.0,307.0,17.4,391.70,9.71
71,0.15876,0.0,10.81,0.0,0.413,5.961,17.5,5.2873,4.0,305.0,19.2,376.94,9.88
240,0.11329,30.0,4.93,0.0,0.428,6.897,54.3,6.3361,6.0,300.0,16.6,391.25,11.38
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43
417,25.94060,0.0,18.10,0.0,0.679,5.304,89.1,1.6475,24.0,666.0,20.2,127.36,26.64

In [35]:
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [36]:
reg.coef_

array([[-1.19443447e-01,  4.47799511e-02,  5.48526168e-03,
         2.34080361e+00, -1.61236043e+01,  3.70870901e+00,
        -3.12108178e-03, -1.38639737e+00,  2.44178327e-01,
        -1.09896366e-02, -1.04592119e+00,  8.11010693e-03,
        -4.92792725e-01]])

In [37]:
# predict the house prices.
reg.predict(x_test)

array([[24.88963777],
       [23.72141085],
       [29.36499868],
       [12.12238621],
       [21.44382254],
       [19.2834443 ],
       [20.49647539],
       [21.36099298],
       [18.8967118 ],
       [19.9280658 ],
       [ 5.12703513],
       [16.3867396 ],
       [17.07776485],
       [ 5.59375659],
       [39.99636726],
       [32.49654668],
       [22.45798809],
       [36.85192327],
       [30.86401089],
       [23.15140009],
       [24.77495789],
       [24.67187756],
       [20.59543752],
       [30.35369168],
       [22.41940736],
       [10.23266565],
       [17.64816865],
       [18.27419652],
       [35.53362541],
       [20.96084724],
       [18.30413012],
       [17.79262072],
       [19.96561663],
       [24.06127231],
       [29.10204874],
       [19.27774123],
       [11.15536648],
       [24.57560579],
       [17.5862644 ],
       [15.49454112],
       [26.20577527],
       [20.86304693],
       [22.31460516],
       [15.60710156],
       [23.00363104],
       [25.17247952],
       [20.11459464],
       [22.90256276],
       [10.0380507 ],
       [24.28515123],
       [20.94127711],
       [17.35258791],
       [24.52235405],
       [29.95143046],
       [13.42695877],
       [21.72673066],
       [20.7897053 ],
       [15.49668805],
       [13.98982601],
       [22.18377874],
       [17.73047814],
       [21.58869165],
       [32.90522136],
       [31.11235671],
       [17.73252635],
       [32.76358681],
       [18.7124637 ],
       [19.78693475],
       [19.02958927],
       [22.89825374],
       [22.96041622],
       [24.02555703],
       [30.72859326],
       [28.83142691],
       [25.89957059],
       [ 5.23251817],
       [36.72183202],
       [23.77267249],
       [27.26856352],
       [19.29492159],
       [28.62304496],
       [19.17978838],
       [18.97185995],
       [37.82397662],
       [39.22012647],
       [23.71261106],
       [24.93076217],
       [15.88545417],
       [26.09845751],
       [16.68819641],
       [15.83515991],
       [13.10775597],
       [24.71583588],
       [31.25165267],
       [22.16640989],
       [20.25087212],
       [ 0.59025319],
       [25.44217132],
       [15.57178328],
       [17.93719475],
       [25.30588844],
       [22.3732326 ]])

In [38]:
#mean square error 
np.mean((reg.predict(x_test) - y_test)**2)

0    33.44898
dtype: float64